<div class="container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                <img src="../../../assets/loginIcon.svg" alt="">
                <h2>Log In</h2>
                <mat-form-field>
                    <input matInput placeholder="example: +201234567891" formControlName="phone" name="phone" required>
                    <mat-error>
                        Please provide a valid phone number
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
            </form>
        </mat-card-content>
        <div id="recaptcha-container"></div>
    </mat-card>
</div>